@import 'colors';

.gameBackground {
    height: 70%;
    width: 70%;
    max-height: 300px;
    background-color: $primary-color;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

.chooseMode {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chooseMode button {
    position: relative;
    height: 100px;
    width: 150px;
    margin: 50px;
    border: none;
    border-radius: 30px;
    color: black;
    font-size: 30px;
    cursor: pointer;
    &:hover {
        background-color: $extra-color;
        height: 110px;
        width: 160px;
        border: 2px solid black;
    }
}

.easy {
    background-color: rgb(31, 49, 31);
}

.normal {
    background-color: rgb(73, 73, 44);
}

.hard {
    background-color: rgb(59, 18, 18);
}

h2 {
    font-size: 50px;
}