@import 'colors';

.gameBackground {
    height: 70%;
    width: 70%;
    background-color: $primary-color;
    margin-left: auto;
    margin-right: auto;
}

.chooseMode {
    text-align: center;
}

.chooseMode button {
    height: 100px;
    width: 150px;
    margin: 50px;
    border: none;
    border-radius: 30px;
    color: black;
    font-size: 30px;
    cursor: pointer;
    &:hover {
        background-color: cornflowerblue;
    }
}

.easy {
    background-color: rgb(31, 49, 31);
}

.normal {
    background-color: rgb(73, 73, 44);
}

.hard {
    background-color: rgb(59, 18, 18);
}

h2 {
    font-size: 50px;
}