.gameBackground {
    height: 70%;
    width: 70%;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}

.chooseMode {
    text-align: center;
}

.chooseMode button {
    height: 100px;
    width: 150px;
    margin: 50px;
    border: none;
    border-radius: 30px;
    color: black;
    font-size: 30px;
    cursor: pointer;
    &:hover {
        background-color: cornflowerblue;
    }
}

.easy {
    background-color: green;
}

.normal {
    background-color: yellow;
}

.hard {
    background-color: red;
}

h2 {
    font-size: 50px;
}