<div class="container">
    <div class="item">
        <div class="welcome">

        </div>
    </div>

    <div class="item">
        <div class="infoContainer">
            <div class="infoItem">
                <div class="infoText">
                    <h2>What is this?</h2>
                    <p>This website was created to improve skills in HTML, CSS, TypeScript, and Angular out of personal interes</p>
                </div>
            </div>
            <div class="infoItem">
                <div class="infoText">
                    <h2>Play for fun</h2>
                    <p>Here is some space for more information! Just guess the number. It's not that difficult to understand.</p>
                </div>
            </div>
            <div class="infoItem">3</div>
            <div class="infoItem">4</div>
        </div>
    </div>
</div>