<div class="overAll">
    <h2>Guess The Number</h2>
    <div class="playArea">
        <label class="headLabel">Your Number:</label>
        <input type="number" id="playAreaInput" [(ngModel)]="guessedNumber" 
               [ngClass]="{'wrongInput': showHighlight, 'rightInput': showOtherHighlight}">
        <button class="guessButton" (click)="guessNumber()">Guess!</button>
        <div class="countDisplay">
            <p>Count: </p>
            <p class="count"> {{ counter }} </p>
        </div>
        <div class="showArrow">
            <i *ngIf="isToLow" class="fa-solid fa-arrow-up"></i>
            <i *ngIf="isToHigh" class="fa-solid fa-arrow-down"></i>
        </div>
    </div>

    

    <div class="answerArea">
        <p>{{ answer }}</p>
        <div class="resultArea" *ngIf="showResult" [ngClass]="{'wrongInput': showHighlight, 'rightInput': showOtherHighlight}">
            <div class="correct" *ngIf="isCorrect">
                <p>Yes</p>
            </div>
            <div class="wrong" *ngIf="!isCorrect && showResult">
                <p>{{ resultMessage }}</p>
            </div>
        </div>
    </div>
</div>
